.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.avatar-nav {
  height: 40px;
  border-radius: 25px;
  margin: 0px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
